.addBtn,
.searchBtn {
  color: var(--secondary-colour);
  font-size: 1rem;
  margin: 0.5rem auto;
  display: block;
}

.searchBtn {
  border: dashed white 3px;
}

.searchBtn:hover {
  background-color: var(--secondary-colour-transparent);
  border: dashed white 3px;
}

.addBtn:hover {
  background-color: var(--transparent-white);
}

.ingredientSearch,
.cuisineSearch,
.dietSearch {
  width: fit-content;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredientSearchField {
  width: 240px;
  display: inline-flex;
}

.container {
  margin: 2rem auto;
  padding: 1rem;
  width: 80vw;
  background-color: var(--transparent-white);
  border-radius: 2rem;
  border: 4px white dashed;
}

.searchTitle {
  color: white;
  width: fit-content;
  margin: 2rem auto;
}
