.appBar {
  background-color: var(--primary-colour);
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: var(--secondary-colour);
}

.linkWrapper {
  padding-right: 2rem;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
