.appBar {
  background-color: var(--primary-colour);
}

.drawer {
  background-color: var(--transparent-white);
}

.drawerBox {
  background-color: var(--background-colour);
  height: 100%;
  color: var(--dark-grey);
}

.link {
  color: inherit;
  text-decoration: none;
  line-height: 0;
}

.link:hover {
  color: var(--secondary-colour);
  background-color: transparent;
}

.linkWrapper {
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.linkDrawer {
  color: inherit;
  text-decoration: none;
  line-height: 0;
}

.linkDrawer:hover {
  color: var(--secondary-colour);
  background-color: transparent;
}

.linkWrapperDrawer {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.loggedInAs {
  margin: 0 2rem;
  cursor: default;
}

.menuIcon:hover {
  background-color: transparent;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toolbarLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media (max-width: 600px) {
  .linkWrapper {
    margin: 0;
  }

  .title {
    font-size: large;
  }
}
